.SearchResults {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 64px;
    &__container {
        display: flex;
        justify-content: center;
        margin-top: 64px;
    }
    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 90%;
    }
}